	<div class="pure-g-r content" id="jeu">
		<div class="pure-u-1">
			<ul class="score" id="listeAllJoueur">
		    	<li>
		    		<img src="images/avatar_example.png" />
		    		<h3>Offline</h3>
		    		<p>0</p>
		    	</li>
		    	<li>
		    		<img src="images/avatar_example.png" />
		    		<h3>Offlineé</h3>
		    		<p>0</p>
		    	</li>
		    	<li>
		    		<img src="images/avatar_example.png" />
		    		<h3>Offline</h3>
		    		<p>0</p>
		    	</li>
		    	<li>
		    		<img src="images/avatar_example.png" />
		    		<h3>Offlineé</h3>
		    		<p>0</p>
		    	</li>
		    </ul>
		</div>
		<div class="pure-u-1" >
			<div class="pure-g-r" >
				<div class="pure-u-1-2">
					<div class="l-box">
						<h2>LISTENED TRACKS</h2>
						<ul class="titres">
							<span>»</span>
							<div id="listeMusique">
							
							
							</div>
						</ul>
					</div>	
				</div>
				<div class="pure-u-1-2">
					<div class="l-box lePlayer">
						<div id="buffer" class="bigotLaClasse">
							<div id="divPlayer">
								<audio id="player" src=""></audio>
								<div id="button" class="animated off">
									<span>
										<span>
										</span>
									</span>
									<span></span>
									<div id="timer">30"</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>		
		</div>
	</div>