<% if (!req.session) { %>
<footer class="navbar navbar-default navbar-fixed-bottom" role="footer">
  <div class="container-fluid">
    <p class="navbar-text">© 2014 Buzzik, <a href="http://jimlaurie.me" target="_blank">Jim LAURIE</a></p>

    <ul class="nav navbar-nav navbar-right">
      <li id="fat-menu" class="dropdown open">
        <a href="mailto:hack@jimlaurie.me?Subject=[Buzzik] Contact">
          <%= __('Contact') %>
        </a>
      </li>
    </ul>

  </div>
</footer>
<% } %>