<!DOCTYPE>
<html>
<head>
	<meta charset="utf8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>Buzzik - Blindtest new generation</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<section id="all">
		
	</section>	
	<script type="text/javascript" src="js/rafael.js"></script>
	<script type="text/javascript" src="js/pace.js"></script>
	<script src="http://cdn-files.deezer.com/js/min/dz.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://buzzik.local:1337/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/buffer.js"></script>
	<script type="text/javascript" src="js/player.js"></script>
	<script type="text/javascript" src="js/room.js"></script>
	<script type="text/javascript" src="js/formulaire.js"></script>
	<script type="text/javascript" src="js/client.js"></script>
	<script type="text/javascript" src="js/actions.js"></script>
	<script>
</body>
</html>	