/* General */
.jumbotron {
  margin-top: 75px;
  background-color: #f7f7f7;
}
div {
  background-color: #f7f7f7;
}
input {
  border-radius: 0;
  border-radius: 0;
}

/* Modal form */
.modal-title {
  margin-top: 0px;
  margin-bottom: 40px;
}
.modal-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.modal-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin: 20px 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.account-wall {
  padding: 20px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.modal-form .modal-label {
  margin-top: 10px;
}

/* Track cursor */
.range {
    display: table;
    position: relative;
    height: 42px;
    margin: 10px 0 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}
.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 42px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 42px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #428bca;
}
.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 42px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #428bca;
}
.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: #428bca;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

/* Trak progress bar */
.track-progress-bar-container {
  width: 275px;
  margin: 20px auto;
}
.progress-bar{
  display: inline-block;
  width: 275px;
  height: 275px;
  margin: 7px;
  padding: 0;
}
.track-progress-bar .progress-active{
  position: relative;
  top: -279px;
}
.track-progress-bar p{
  position: relative;
  margin: 0;
  padding: 0;
  width: 275px;
  top: -460px;
  font-size: 54px;
  font-weight: 900;
  text-align: center;
}
#progressControllerContainer{
  position: absolute;
  bottom: 0px;
  padding: 10px 80px;
}
.progress-bar-display {
  height: 275px;
  width: 275px;
}

/* Timer progress bar */
.timer-progress {
  width: 100%;
  height: 5px;
}
.timer-progress-wrap {
  background: #d43f3a;
  margin: 2px 0;
  overflow: hidden;
  position: relative;
}
.timer-progress-wrap .timer-progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}


/* Track card */
.track-container {
  height: 316px;
  overflow: scroll;
}
.track-card a img {
  height: 70px;
  float: left;
}
.track-card .card-body {
  margin-left: 90px;
  min-height: 70px;
}

#buzzer {
  background-color: red;
}
.label-point {
  margin-left: 10px;
}
.popover, .arrow, .popover-content {
  background-color: red;
}